@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "grid.css";
@import "utilities.css";
@import "navbar.css";

:root {
  --size_square: 17px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 665px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start,
#end {
  border-radius: 30px;
}

#start {
  background-color: red;
}
#end {
  background-color: blue;
}

body {
  background: white;
}
